// Basic Setup

* {
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.module {
  &__content {
    align-content: center;
    display: grid;
    max-width: 600px;
    row-gap: 45px;
    width: 100%;
  }
}

.spaces {
  margin-bottom: 90px;
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 180px;
    margin-left: 0;
    margin-right: 0;
  }
}
