.details {
  font-family: $robotoCon, sans-serif;

  &--container {
    display: block;

    @media (min-width: $breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col-1 {
    span {
      color: $theme-orange;
      font-size: 30px;
      font-weight: 700;
    }

    h3 {
      margin-bottom: 30px;
      @media (min-with: $breakpoint-medium) {
        margin-bottom: 0;
        padding-right: 100px;
      }
      p {
        font-family: $oswald, sans-serif;
        line-height: 45px;
      }
    }
  }

  &__col-2 {
    & > div {
      gap: 20px;
    }
    span {
      font-size: 18px;
    }
  }

  &__col-2-cats {
    display: grid;

    span {
      transition: all ease-in-out 0.3s;
      &:hover {
        color: $theme-orange;
      }
    }
  }
}
